body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #000;
  min-width: 960px;
}

html {
  min-width: 960px;
}

header {
  padding-top: 20px;
}

.container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

span.accent-title {
  background-color: #FADD05;
  padding: 2px 4px 2px 6px;
}

.none {
  display: none;
}

.navigation--footer {
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  font-weight: 900;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 10px 15px;
  height: 30px;
  border-radius: 12px;
  background: #333333;
  font-size: 16px;
  color: #fff;
  -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.button:hover, .button:focus {
  background-color: #404040;
}

.button:active {
  background-color: #222222;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.navigation {
  margin-top: 20px;
}

.nav-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-row__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  position: relative;
}
.nav-row__info::before {
  content: " ";
  width: 1px;
  height: 24px;
  background-color: #C4261D;
  position: absolute;
  top: 3px;
  left: 89px;
}
.nav-row__info button {
  font-size: 10px;
  font-weight: 500;
  padding: 2px 16px 4px;
  background-color: #FADD05;
  border-radius: 9px;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.nav-row__info button:hover {
  background-color: #C4261D;
  color: #fff;
}

.nav-row__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  font-weight: 500;
}
.nav-row__contacts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.nav-row__contact-order {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.nav-row__contact-order::before {
  content: " ";
  width: 50px;
  height: 4px;
  background-color: #FADD05;
  position: absolute;
  bottom: 0px;
  left: -50px;
  z-index: -1;
  -webkit-transition: left 0.1s linear;
  transition: left 0.1s linear;
}
.nav-row__contact-order:hover::before {
  left: 0px;
}
.nav-row__contact-order button {
  font-weight: 700;
}

/*---------HEADER-SLIDER--------------*/
.header__container-slider {
  position: relative;
  width: 960px;
  height: 260px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 60px;
}

.header__slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.header__slider-block__title {
  font-size: 34px;
  font-weight: 900;
  font-family: "Montserrat";
  margin-bottom: 14px;
}

.header__slider-block__subtitle {
  font-family: "Montserrat";
  width: 500px;
  font-size: 12px;
  margin-bottom: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.header__slider-block__item {
  position: relative;
}

.header__slider-block__item::after {
  content: " ";
  background-color: #FADD05;
  width: 20px;
  height: 2px;
  position: absolute;
  top: -5px;
  left: 0;
}

.header__slider-block__button {
  padding: 10px 37px;
  background-color: #FADD05;
  border-radius: 10px;
  color: #000;
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: 400;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
}
.header__slider-block__button:hover {
  background-color: #C72C23;
  color: #fff;
}

.header__slider-block__images {
  position: relative;
}

.slider-block__background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.header__prev-button,
.header__next-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #000;
}

.header__prev-button {
  left: 0px;
}

.header__next-button {
  right: 0px;
}

/*---------/HEADER-SLIDER--------------*/
/*---------GUARANTEES-SLIDER--------------*/
.guarantees__container-slider {
  position: relative;
  width: 960px;
  height: 235px;
  margin: 0 auto;
  overflow: hidden;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 50px;
}

.guarantees__slider-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FADD05;
  z-index: 10;
}

.guarantees__slider-block__images {
  position: relative;
}

.guarantees__slider-block__image-vectors {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
}

.guarantees__slider-block__image-women {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.guarantees__slider-block__title {
  font-family: "Montserrat";
  width: 540px;
  font-size: 22px;
}

.guarantees__prev-button,
.guarantees__next-button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #000;
}

.guarantees__prev-button {
  left: 0px;
}

.guarantees__next-button {
  right: 0px;
}

/*---------/GUARANTEES-SLIDER--------------*/
.red {
  margin-top: 20px;
}

.red_block {
  padding: 8px 0;
  max-width: 100%;
  background-color: #C4261D;
  color: #fff;
}

.red-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}

.red-list__item {
  position: relative;
  overflow: hidden;
}
.red-list__item::after {
  content: " ";
  width: 20px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: -20px;
  -webkit-transition: left 0.1s linear;
  transition: left 0.1s linear;
}
.red-list__item:hover::after {
  left: 0;
}

.recommendations {
  margin-top: 50px;
}

.recommendation-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  border: 1px solid #C7C7C7;
  border-left: 0;
}
.recommendation-block h2 {
  font-size: 26px;
  font-weight: 800;
}

.guarantees {
  margin-top: 50px;
}

.guarantees-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}
.guarantees-block h2 {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}

.guarantees-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.guarantees-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc(25% - 1em);
          flex: 0 1 calc(25% - 1em);
}

.sponsors {
  margin-top: 50px;
}

.sponsors-block h2 {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}

.sponsors-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.news {
  margin-top: 50px;
}

.news-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
  position: relative;
  z-index: 1;
  -webkit-transition: -webkit-box-shadow 0.2s linear;
  transition: -webkit-box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear;
  transition: box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}
.news-block__item:hover {
  -webkit-box-shadow: 1px 1px 6px 1px #8b8b8b;
          box-shadow: 1px 1px 6px 1px #8b8b8b;
}
.news-block__item::after {
  content: " ";
  width: 30px;
  height: 2px;
  background-color: #FADD05;
  position: absolute;
  bottom: 12px;
  right: 74px;
  z-index: -1;
  -webkit-transition: right 0.1s linear;
  transition: right 0.1s linear;
}
.news-block__item:hover:after {
  right: 5px;
}

.news-block__item-wrap {
  padding: 10px;
}
.news-block__item-wrap h3 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}
.news-block__item-wrap p {
  color: #000;
}
.news-block__item-wrap .news-block__item-wrap--content {
  padding: 0 5px 8px;
}

.news-block__item-date {
  font-size: 10px;
  color: #8b8b8b;
  margin-bottom: 6px;
}

.news-block__item-link {
  text-align: end;
}

.slider-item {
  margin-top: 50px;
}

.container__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container__slider-item__info {
  width: 540px;
}

.slider-item__title {
  font-size: 28px;
  font-weight: 900;
  margin-bottom: 10px;
}

.slider-item__subtitle {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.slider-item__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  padding-left: 40px;
  margin-bottom: 20px;
}

.slider-item__list__item {
  position: relative;
  width: 430px;
}
.slider-item__list__item::after {
  content: "";
  position: absolute;
  left: -42px;
  top: 0px;
  width: 30px;
  height: 30px;
  background-image: url("/img/taskCompleted.svg");
  background-repeat: no-repeat;
}

.container__slider-item__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 10px 24px;
  height: 30px;
  border-radius: 12px;
  background: #C4261D;
  font-size: 11px;
  color: #fff;
  -webkit-transition: background-color 0.2s linear, color 0.2s linear;
  transition: background-color 0.2s linear, color 0.2s linear;
}

.container__slider-item__button:hover, .container__slider-item__button:focus {
  background-color: #FADD05;
  color: #000;
}

.container__slider-item__button:active {
  background-color: #222222;
}

.container__slider-item__images {
  position: relative;
}

.container__slider-item__background {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.slider-item-benefits {
  margin-top: 50px;
}

.slider-item-benefits__title {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 60px;
}

.slider-item-benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-item-benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  width: 32%;
  height: 280px;
  background-color: #F9F9F9;
  text-align: center;
  padding: 15px;
  position: relative;
}
.slider-item-benefits__item::before {
  content: " ";
  width: 62px;
  height: 3px;
  background-color: #FADD05;
  position: absolute;
  bottom: 24%;
  left: 38%;
}

.slider-item-benefits__item-title {
  font-size: 18px;
  font-weight: 700;
}

.access-apps {
  margin-top: 50px;
}

.access-apps__title {
  font-size: 28px;
  font-weight: 900;
  text-align: center;
}

.access-apps__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
  grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 20px;
}

.access-apps__list > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.access-apps__list > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.access-apps__list > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.access-apps__list > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}

.access-apps__list > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.access-apps__list > *:nth-child(6) {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
}

.access-apps__list > *:nth-child(7) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.access-apps__list > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.access-apps__list > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}

.access-apps__list > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.access-apps__list > *:nth-child(11) {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
}

.access-apps__list > *:nth-child(12) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.access-apps__list > *:nth-child(13) {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
}

.access-apps__list > *:nth-child(14) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}

.access-apps__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 5px;
  width: 116px;
  text-align: center;
  font-weight: 700;
}

.tariffs {
  margin-top: 50px;
  margin-bottom: 50px;
}
.tariffs h2 {
  text-align: center;
}

.container--tariffs {
  position: relative;
  margin-top: 50px;
  padding: 15px 30px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.tariff-accent-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 180px;
  height: 24px;
  background-color: #FADD05;
  position: absolute;
  top: 0;
  left: 30px;
}

.tariff__block {
  padding: 0 0 40px;
}

.tariff__block__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 50px;
}
.tariff__block__header::after {
  content: " ";
  width: 958px;
  height: 1px;
  background-color: #f1f1f1;
  position: absolute;
  bottom: 24px;
  left: -30px;
}

.tariff__block-header__plan {
  position: relative;
  margin-right: auto;
}
.tariff__block-header__plan p {
  color: #827E7E;
}
.tariff__block-header__plan h3 {
  font-size: 24px;
  font-weight: 700;
}
.tariff__block-header__plan::after {
  content: " ";
  width: 62px;
  height: 3px;
  background-color: #FADD05;
  position: absolute;
  bottom: -7px;
  left: 0;
}

.tariff__block-header__button {
  position: relative;
  width: 150px;
  height: 42px;
  border-radius: 40px;
  background-color: #FADD05;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  padding-left: 35px;
  margin-right: 117px;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.tariff__block-header__button:hover, .tariff__block-header__button:focus, .tariff__block-header__button:active {
  background-color: #C4261D;
  color: #fff;
}
.tariff__block-header__button::after {
  content: " ";
  width: 1px;
  height: 93px;
  background-color: #f1f1f1;
  position: absolute;
  top: -25px;
  left: -40%;
}
.tariff__block-header__button::before {
  content: " ";
  width: 1px;
  height: 93px;
  background-color: #f1f1f1;
  position: absolute;
  top: -25px;
  right: -40%;
}

.tariff__block-header__price p {
  color: #827E7E;
}
.tariff__block-header__price h3 {
  font-size: 35px;
  font-weight: 800;
  color: #E8CD06;
}
.tariff__block-header__price p:nth-child(3) {
  font-weight: 700;
  color: black;
}

.tariff__block-main {
  margin-bottom: 40px;
}
.tariff__block-main > p {
  margin-bottom: 20px;
}

.tariff__block-main__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
  margin-bottom: 15px;
  padding-left: 11px;
}

.tariff__block-main__item {
  list-style-type: disc;
}

.tariff__block-main__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.tariff__block__button {
  padding: 10px 30px;
  background-color: #C4261D;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  border-radius: 40px;
  -webkit-transition: color 0.2s linear, background-color 0.2s linear;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.tariff__block__button:hover, .tariff__block__button:focus, .tariff__block__button:active {
  background-color: #FADD05;
  color: #000;
}

.form-block {
  position: relative;
  overflow: hidden;
  background-color: #FADD05;
  padding: 60px 0;
}
.form-block h2 {
  text-align: center;
  z-index: 1;
}
.form-block h2 + p {
  font-size: 13px;
  text-align: center;
  margin-bottom: 30px;
  z-index: 1;
}
.form-block .form-image-one {
  position: absolute;
  top: 0;
  left: 0%;
  z-index: 0;
}
.form-block .form-image-two {
  position: absolute;
  top: 0;
  right: 0%;
  z-index: 0;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 15px;
  margin: 0 auto;
  width: 510px;
}
.form input {
  background-color: #fff;
  width: 510px;
  padding: 6px 20px 6px;
  z-index: 1;
}
.form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 5px;
  z-index: 1;
}
.form .consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}
.form .consent input {
  width: unset;
  margin-right: 10px;
}
.form .consent span {
  text-decoration: underline;
}

.form__button {
  width: 510px;
  height: 40px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 14px;
  font-weight: 700;
  background-color: #C4261D;
  z-index: 1;
}