.sponsors {
    margin-top: 50px;
}

.sponsors-block {

    h2 {
        font-size: 28px;
        font-weight: 900;
        text-align: center;
    }
}

.sponsors-block__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 40px;
}
